@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  background: url("../img/chefs-bg.jpg") center center no-repeat;
  background-size: cover; }

.segundoFondo {
  background: url("../imagenes/pexels-william-choquette-2641886.jpg") center center no-repeat;
  background-size: cover; }

.nav-link {
  color: #f7b733; }
  .nav-link:hover {
    color: #f7b733; }

/*Boton Wsp*/
.botonWsp img {
  width: 70px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 4; }

/*FOOTER*/
footer {
  width: 100%;
  margin-top: 200px;
  background: rgba(255, 255, 255, 0.8);
  font-weight: bold; }
  footer p {
    text-align: center;
    font-size: 20px;
    color: black;
    font-family: 'lobster', cursive; }
  footer h4 {
    text-align: center;
    font-size: 20px;
    color: black;
    font-size: 30px;
    font-family: 'lobster', cursive;
    border-bottom: 2px solid #f7b733; }
  footer i {
    text-align: center;
    font-size: 20px;
    color: black; }
  footer .nav-link {
    text-decoration: none;
    color: black; }

.primeraCaja img {
  height: 95vh; }

.primeraCaja h1, .primeraCaja h2 {
  text-align: center;
  font-family: 'lobster', cursive;
  font-size: 50px;
  color: black; }

.primeraCaja p {
  color: black;
  font-size: 30px;
  font-family: 'lobster', cursive; }

#carouselExampleCaptions {
  width: 100%; }

.contenidoInicio h2 {
  font-size: 40px;
  font-family: 'lobster', cursive; }

.contenidoInicio p {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif; }

.bordeImagenIngredientes {
  border-radius: 25px;
  text-align: center;
  font-size: 20px;
  color: black; }

.cardsInicio p {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif; }

.cajaContainer, .cajaMinion {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 30px; }

.extend, .extendDos {
  color: violet;
  font-size: 20px; }

.extendDos {
  text-decoration: uppercase; }

.contenedorPrimeraCaja {
  display: flex;
  box-shadow: 0 0 30px gray;
  background-image: linear-gradient(rgba(5, 7, 12, 0.1), rgba(5, 7, 12, 0.1)), url(../img/chefs-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  height: 900px;
  flex-direction: column-reverse; }
  .contenedorPrimeraCaja h1, .contenedorPrimeraCaja h2 {
    text-align: center;
    font-family: 'lobster', cursive;
    font-size: 50px;
    color: black; }
  .contenedorPrimeraCaja p {
    color: black;
    font-size: 30px;
    font-family: 'lobster', cursive; }

.tituloPreguntas {
  color: white;
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
  border-bottom: #f7b733 solid; }

.cajaPreguntas {
  background: rgba(3, 3, 3, 0.8);
  border-radius: 5px; }

/* MENU */
.menu h1, .menu p {
  color: white;
  font-family: 'lobster', cursive; }

.menu .nav-tabs {
  border: 0; }

.menu .nav-link {
  margin: 0 10px;
  padding: 10px 5px;
  transition: 0.3s;
  color: white;
  border-radius: 0;
  cursor: pointer;
  height: 100%;
  border: 0;
  border-bottom: 2px solid #f7b733; }
  .menu .nav-link i {
    padding-right: 15px;
    font-size: 48px; }
  .menu .nav-link h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    font-family: var(--font-secondary); }
  .menu .nav-link p {
    color: white; }
  .menu .nav-link:hover {
    /*Entrega MAPS SASS 2 */
    color: #ffb03b; }
  .menu .nav-link.active {
    color: black;
    border-bottom: #f7b733;
    background-color: #f7b733;
    border-radius: 5px; }

.menu .tab-content .tab-header {
  padding: 30px 0; }
  .menu .tab-content .tab-header p {
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 0; }
  .menu .tab-content .tab-header h3 {
    font-size: 36px;
    font-weight: 600;
    color: white; }

.menu .tab-content .menu-item {
  -moz-text-align-last: center;
  text-align-last: center; }
  .menu .tab-content .menu-item h4 {
    font-size: 22px;
    font-weight: 500;
    color: white;
    font-weight: 30px;
    margin-bottom: 5px; }
  .menu .tab-content .menu-item .ingredients {
    font-family: var(--font-secondary);
    color: #f7b733;
    margin-bottom: 5px; }
  .menu .tab-content .menu-item .price {
    font-size: 24px;
    font-weight: 700;
    color: white; }

.cajaMenu {
  background: rgba(3, 3, 3, 0.8);
  border-radius: 30px; }

.cajaContacto {
  background-color: #435151;
  border-radius: 30px; }
  .cajaContacto label {
    color: white;
    font-family: 'Josefin Sans', sans-serif; }
  .cajaContacto ::placeholder {
    font-family: 'Josefin Sans', sans-serif; }
  .cajaContacto button {
    font-family: 'Josefin Sans', sans-serif; }

.tituloContacto {
  font-family: 'lobster', cursive;
  font-size: 40px; }

.mapa {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto; }

.contacto h2, .contacto h3 {
  font-family: 'lobster', cursive;
  border-bottom: red solid; }

.contacto p {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif; }

.tituloNosotros {
  font-family: 'lobster', cursive;
  border-bottom: #f7b733 solid;
  color: white; }

.videoNosotros {
  padding: 0%; }
  .videoNosotros iframe {
    border-radius: 20px; }

.chefs {
  padding: 60px 0;
  position: relative; }
  .chefs h2 {
    font-family: 'lobster', cursive; }
  .chefs p {
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif; }
  .chefs::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9; }
  .chefs .container {
    position: relative;
    z-index: 10; }
  .chefs .member {
    text-align: center;
    margin-bottom: 80px;
    position: relative; }
    .chefs .member .pic {
      overflow: hidden; }
    .chefs .member .member-info {
      position: absolute;
      bottom: -80px;
      left: 20px;
      right: 20px;
      background: #fff;
      padding: 20px 0;
      color: #433f39;
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: max-height 0.5s ease-in-out; }
    .chefs .member h3 {
      font-weight: 500;
      margin-bottom: 10px;
      font-size: 16px;
      color: #6c665c;
      position: relative;
      padding-bottom: 10px;
      font-family: 'Josefin Sans', sans-serif; }
      .chefs .member h3::after {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 1px;
        background: #f7b733;
        bottom: 0;
        left: calc(50% - 25px); }
    .chefs .member span {
      font-style: italic;
      display: block;
      font-size: 13px;
      font-family: 'Josefin Sans', sans-serif; }

@media (max-width: 575px) {
  .menu .nav-link {
    margin: 0 10px;
    padding: 10px 0; } }

@media (max-width: 575px) {
  .menu .nav-link h4 {
    font-size: 16px; } }
