.cajaContacto {
    background-color: #435151;
    border-radius: 30px;
  
    label {
      color: white;
      font-family: 'Josefin Sans', sans-serif;
    }

    ::placeholder{
      font-family: 'Josefin Sans', sans-serif;
    }

    button{
      font-family: 'Josefin Sans', sans-serif;
    }
  }
  
  .tituloContacto {
    font-family: 'lobster', cursive;
    font-size: 40px;
  }


.mapa {
  display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
  }


  .contacto{
    h2, h3{
      font-family: 'lobster', cursive;
      border-bottom: red solid;
    }


    p{
      font-size: 16px;
      font-weight: bold;
      font-family: 'Josefin Sans', sans-serif;
    }
  }

