/*FOOTER*/

.footer h2 {
    text-align: start;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
  }
  
  footer ul li {
    list-style-type: none;
  
    a {
      margin-left: 15px;
      text-transform: uppercase;
      font-weight: bold;
      color: black;
      border-radius: 4px;
      
    }
  }
  