@media (max-width: 575px) {
    .menu .nav-link {
      margin: 0 10px;
      padding: 10px 0;
    }
    .menu .nav-link h4 {
      font-size: 16px;
    }
  

    .contenedorPrimeraCaja{

      h1,h2 {
        color: white;
        font-weight: bold;
      }
    
    
    
      p {
        color: white;
        margin-bottom: 360px;
        font-weight: bold;
      }
    }  

  }

